<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Home</title>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-lg my-3">
            <a class="text-decoration-none" href="NewArticle"><button type="button" class="btn btn-primary">Create New Article</button></a>

            <a href="?lang=en">English</a>
            <a href="?lang=km">Khmer</a>
            <a href="?lang=ko">Korean</a>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-25" th:text="#{Title}"></th>
                    <th scope="col" class="w-50" th:text="#{Description}"></th>
                    <th scope="col" th:text="#{Image}"></th>
                    <th scope="col" th:text="#{Action}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="form : ${list}">
                    <td th:text="${form.id}"></td>
                    <td th:text="${form.title}"></td>
                    <td th:text="${form.description}"></td>
                    <td ><img th:src="@{'/photo/' + ${form.image}}" style="width: auto; height: 100px"/></td>
                    <td>
                        <a class="text-decoration-none" th:href="@{/view/{id}(id=${form.getId()})}" >
                            <button type="button" th:id="${form.id}" class="btn btn-outline-success">View</button>
                        </a>
                        <a class="text-decoration-none" th:href="@{/edit/{id}(id=${form.getId()})}">
                            <button type="button" th:id="${form.id}" class="btn btn-outline-warning">Edit</button>
                        </a>
                        <a class="text-decoration-none" th:href="@{/delete/{id}(id=${form.getId()})}">
                            <button type="button" th:id="${form.id}" class="btn btn-outline-danger">Delete</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>